# Ignore node_modules directory
node_modules/

# Ignore environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output directories (optional)
dist/
build/
