/* Styling about section */

.about {
  width: 100vw;
  height: 100vh;
  padding: 10rem 7rem;
  background-color: #7ab586;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  overflow-y: hidden;
}

/* .about-heading {
  display: flex;
} */
.about-heading h2 {
  color: #fff;
  margin-left: 0;
}

.about-description {
  grid-row: 2/-1;
}
.about-description p {
  font-size: 2rem;
  color: #fff;
  padding-right: 4rem;
  margin-bottom: 1.5rem;
}

.about-image {
  padding-left: 2rem;
  grid-column: 2/-1;
  grid-row: 1/6;
}
.about-image img {
  width: 93%;
  border-radius: 8px;
  height: 100%;
}

svg {
  width: 80px !important;
  height: 80px !important;
}

/* media query for about me */
@media (max-width: 450px) and (max-height: 900px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .about-image {
    grid-column: auto;
    grid-row: auto;
  }
}
