/* /////////////////////////////////////// */
/* Navigation Section */
.nav-bar {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 2rem;
  background-color: #ffffffab;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.logo {
  text-transform: uppercase;
  font-size: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.nav-list a {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #226b30;
}
